.block {
    width: 1.5em;
    height: 1.5em;
    color: #dc143c;
    transition: all 0.5s;
    font-size: 10px;
}

.block:hover {
    transform: scale(50%);
}

.caixa_rede {
    display: inline-block;
    background-color: rgb(32, 48, 32);
    margin-top: 10px;    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
}

.caixa_rede a {
    color: rgb(214, 214, 214);
    letter-spacing: 1px;
}

.column:hover {
    animation: none;
    margin: 0;
}